* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: content-box;
}

div#game-board {
    display: none;
}

div#game-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#game-left-col, div#game-right-col {
    width: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#game-center {
    position: relative;
    font-size: 10px;
    color: white;
}

div#game-center img {
    border: 1px solid black;
    border-radius: 5px;
}

div.player-info {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

div.player-info#white-info {
    background-color: white;
}
div.player-info#blue-info {
    background-color: blue;
    color: white;
}
div.player-info#red-info {
    background-color: red;
}
div.player-info#yellow-info {
    background-color: yellow;
}
div.player-info#green-info {
    background-color: green;
}
div.player-info#black-info {
    background-color: black;
    color: lightgray;
}

div.territory-info {
    display: block;
    width: 100px;
    position: absolute;
}

p.territory-controls, p.territory-name {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

p.territory-controls button.army-control {
    font-family: monospace;
    font-weight: bolder;
    font-size: smaller;
    /* background: transparent; */
    color: black;
    padding: 0px 3px;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
}

p.territory-controls span.army-count {
    font-family: monospace;
    border-radius: 8px;
    border: 1px solid black;
    padding: 1px 4px;
    vertical-align: middle;
}

div.territory-info.army-none span.army-count {
    background-color: gray;
    color: black;
}
div.territory-info.army-white span.army-count {
    background-color: white;
    color: black;
}
div.territory-info.army-blue span.army-count {
    background-color: blue;
    color: white;
}
div.territory-info.army-red span.army-count {
    background-color: red;
    color: black;
}
div.territory-info.army-yellow span.army-count {
    background-color: yellow;
    color: black;
}
div.territory-info.army-green span.army-count {
    background-color: green;
    color: black;
}
div.territory-info.army-black span.army-count {
    background-color: black;
    color: white;
}

div#cards-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.card-container {
    width: 150px;
    margin: 10px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

div.player-info>p {
    text-align: center;
}

div.territory-info>p {
    text-align: center;
}

div.card-container>p {
    text-align: center;
}